---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import GitLogView from "../../components/blog/GitLogView.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
	<main class="text-gray-200 w-full h-full overflow-x-hidden">
		<div class="mt-24 mb-36 lg:mt-28 lg:mb-40">
			<h1 class="relative text-3xl md:text-4xl text-left max-w-xl font-black mb-4">		
				Insights & <span class="text-pink-400">Dev Logs</span>
			</h1>
		
			<p class="text-lg text-left text-gray-400 mb-8">
				Documenting my journey in software engineering, game development, and the problems I solve along the way.
			</p>

			<GitLogView posts={posts} />
		</div>
	</main>	
</Layout>
