---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import ProjectsGrid from "../components/ProjectsGrid.astro";
import ButtonLink from "../components/ButtonLink.astro";
import { contributedProjects } from "../data/projects";
---

<Layout>
  <main class="text-gray-200 w-full h-full overflow-x-hidden">
    <div class="mt-24 mb-36 lg:mt-28 lg:mb-40">
      <h1 class="relative text-3xl md:text-5xl text-left max-w-2xl font-black mb-6">
        Engineering <span class="text-pink-500">Solutions</span>
      </h1>
      
      <p class="text-lg text-left text-gray-400 mb-16 max-w-2xl">
        A showcase of technical challenges and the software I’ve architected and contribuited to solve them.
      </p>

      <section class="mb-20">
        <h2 class="text-2xl font-bold mb-6 flex items-center">
          <span class="text-pink-500 mr-2 font-code">></span><span>Open Source & Contributions</span>
        </h2>
        <p class="text-gray-400 mb-8">Enterprise-grade projects engineered within collaborative team environments.</p>
        
        <ProjectsGrid projects={contributedProjects} />
      </section>

      <div class="mt-16 text-center">
        <p class="text-gray-400 mb-6">Interested in collaborating on a project?</p>
        <ButtonLink
						href="https://forms.gle/ZLTe8Ahke5ZziQZY6"
						variant="primary"
						target="_blank"
						rel="noopener noreferrer"
					>
          Let's Talk
        </ButtonLink>
      </div>
    </div>
  </main>
</Layout>
