---
import { cn } from "../utils";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import XIcon from "./icons/XIcon.astro";

const {class: className} = Astro.props;

const today = new Date();
---

<footer class={cn("w-full flex flex-col justify-center items-center", className)}>
	<p class="text-gray-300 mb-2 text-center text-sm">&copy;{today.getFullYear()} rondevz. All rights reserved.</p>
	<div class="flex w-full justify-center items-center text-gray-200">
		<a class="scale-90" target="_blank" href="https://x.com/rondevz">
			<XIcon />
		</a>
		<a class="scale-90" target="_blank" href="https://github.com/rondevz">
			<GithubIcon />
		</a>
		<a class="scale-90" target="_blank" href="https://linkedin.com/in/rondevz">
			<LinkedinIcon />
		</a>
	</div>
</footer>
