---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
	href={href}
	class:list={[
		className,
		"hover:text-pink-400 selected:text-pink-500 text-center text-sm font-bold font-code w-full text-shadow-lg",
		isActive ? "text-pink-400 text-shadow-pink-900" : "text-gray-400",
	]}
	{...props}>
	<slot></slot>
</a>
