---
import HeaderLink from "./HeaderLink.astro";
import XIcon from "./icons/XIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
---

<header class="flex justify-between items-center w-full relative z-50">
	<a target="_blank" href="https://x.com/rondevz" class="hover:scale-110 transition-transform">
		<XIcon />
	</a>
	<nav class="flex justify-center items-center w-fit md:w-80 space-x-5 p-3.5 rounded-2xl bg-gray-950/80 backdrop-blur-md border border-gray-800 shadow-lg shadow-pink-900/10">
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
	<a target="_blank" href="https://github.com/rondevz" class="hover:scale-110 transition-transform">
		<GithubIcon />
	</a>
</header>
