---
import ProjectCard from "./ProjectCard";

interface Project {
  title: string;
  description: string;
  techStack: string[];
  link?: string;
  github?: string;
}

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {projects.map((project: Project, index: number) => (
    <ProjectCard 
      client:visible
      project={project}
      index={index}
    />
  ))}
</div> 