<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
	<title>LinkedIn Icon</title>
	<path
		d="M25 45.8333C36.5062 45.8333 45.8333 36.5062 45.8333 25C45.8333 13.4937 36.5062 4.16666 25 4.16666C13.4937 4.16666 4.16663 13.4937 4.16663 25C4.16663 36.5062 13.4937 45.8333 25 45.8333Z"
		fill="#F9FAFB"></path>
	<path
		d="M18.3542 22.3958H14.8125C14.5 22.3958 14.25 22.6458 14.25 22.9583V35.1875C14.25 35.5 14.5 35.75 14.8125 35.75H18.3542C18.6667 35.75 18.9167 35.5 18.9167 35.1875V22.9583C18.9167 22.6458 18.6667 22.3958 18.3542 22.3958Z"
		fill="#111827"></path>
	<path
		d="M16.5833 20.7292C17.7339 20.7292 18.6666 19.7965 18.6666 18.6458C18.6666 17.4952 17.7339 16.5625 16.5833 16.5625C15.4327 16.5625 14.5 17.4952 14.5 18.6458C14.5 19.7965 15.4327 20.7292 16.5833 20.7292Z"
		fill="#111827"></path>
	<path
		d="M31.7708 22.2292C30.2917 22.2292 29.125 22.8333 28.5208 23.5417V22.9583C28.5208 22.6458 28.2708 22.3958 27.9583 22.3958H24.5833C24.2708 22.3958 24.0208 22.6458 24.0208 22.9583V35.1875C24.0208 35.5 24.2708 35.75 24.5833 35.75H28.1042C28.4167 35.75 28.6667 35.5 28.6667 35.1875V28.9583C28.6667 27.9792 28.8542 27.25 30.0625 27.25C31.25 27.25 31.2708 28.3542 31.2708 29.0208V35.1875C31.2708 35.5 31.5208 35.75 31.8333 35.75H35.3542C35.6667 35.75 35.9167 35.5 35.9167 35.1875V28.3542C35.9167 25.5417 35.3125 22.2292 31.7708 22.2292Z"
		fill="#111827"></path>
</svg>
