---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<article class="my-32">
	<div class="mb-12 rounded-md overflow-hidden shadow-md shadow-pink-500">
		{heroImage && <img class="w-full" height={510} src={heroImage} alt="" />}
	</div>
	<div class="prose prose-pink prose-invert max-w-4xl mx-auto prose-kbd:bg-pink-800">
		<div>
			<div class="date">
				<FormattedDate date={pubDate} />
				{updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)}
			</div>
			<h1>{title}</h1>
			<hr />
		</div>
		<slot></slot>
	</div>
</article>
