---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PuzzleScene from "../components/PuzzleScene";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-[#090d0e] min-h-screen w-full relative">
		<!-- <div class="fixed inset-0 w-full h-full z-50 overflow-hidden pointer-events-none opacity-40">
			<PuzzleScene client:load />
		</div> -->
		<div class="mx-auto max-w-6xl py-10 px-4 md:px-0 relative z-10">
			<Header />	
			<slot></slot>
			<Footer class="mb-12"/>
		</div>
	</body>
</html>
